
body{
  background-color: black;
}

.header{
  background-color: gray;
  height:85px;
  font-size: 24pt;
  font-weight: bold;
  padding-top:15px;
}

.char-container{
  height:80vh;
  border:1pt solid black;
  background-color: white;  
}

.dir-container{
  padding:30px;
  border-top:1pt solid black;
  border-bottom:1pt solid black;
  background-color: white;
  background-image: URL('./images/funky-lines.png');
}

#characters{
  position: relative;
  margin: 0 auto;
  margin-top:20px;
  border:1pt solid black;
  height:75vh;
}
