
body{
  background-color: black;
}

.header{
  background-color: gray;
  height:65px;
  font-size: 24pt;
  font-weight: bold;
  padding-top:15px;
  color:white
}

.char-container{
  height:90vh;
  border:1pt solid black;
  background-color:#cf554c;  
}

.dir-container{
  padding:30px;
  border-top:1pt solid black;
  border-bottom:1pt solid black;
  background-color: white;
  background-image: URL('./images/funky-lines.png');
}

#characters{
  position: relative;
  margin: 0 auto;
  margin-top:20px;
  border:3pt solid black;
  border-radius:5px;
  height:85vh;
  background-color: white;
  background-image: URL('./images/tweed.png');
}
